POSTGRES_URL=postgresql://rustdb...
JWT_SECRET=P9$vLssssddd5@jR7&hF4*wCasdfaf6dE1sB8uT5mG9zV4qA7@wine
GROQ_API_KEY=gssssxxxQHRhXHxkQVsdafasdf0sWGdyb3FYCWednefG0fT8FLjOI2XMnLWa
DATABASE="rustdb",
DB_USER="user",
DB_PASSWORD="pw",
DB_HOST="host",
DB_PORT="5432"
ADMIN_USERNAME=admin
ADMIN_PASSWORD=password